:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('../resources/CinzelDecorative-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../resources/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

* {
    background-color: var(--bg-white);
    font-size:15px;
    margin-top: 0;
    margin-left: 5px;
    padding: 0;
    color: var(--black);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


main {
    background-color: var(--bg-white);
    margin-top: 90px;
    z-index: 1;
}

textarea, input {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.textarea-style{
    height: 150px;
}

.textarea-disebel-style{
    height: auto;
    margin-bottom: 10px;
}


/*Alinieri de obiecte si centrari*/
.align-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: flex-start;
}

.align-end {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.centring {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.horizontal-feeling {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    height: 500px;
}

.vertical {
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    background-color: transparent;
}

.vertical-feeling {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    margin-left: 10px;
    z-index: 2;
}

.vertical-form {
    width: 420px;
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    background-color: transparent;
}

.vertical-textarea{
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    background-color: transparent;
    width: 300px;
}

.clear{
    height: 30px;
    color: var(--bg-white)
}

.ten-px-gap{
    gap: 10px;
}

.error{
    color: var(--engineering-orange);
    background-color: transparent;
}

a {
    font-weight: 500;
    text-decoration: underline;
}
a:hover {
    color: var(--air-force-blue);
}

button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
