aside{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    background-color: transparent;
    margin-top: 10px;
    gap: 10px;
}

#title-aside{
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}

#name-aside{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 5px;
}

.part-aside{
    font-size: 17px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    align-content: center;
    padding-left: 5px;
}

.active-part-aside{
    background-color: var(--dark-slate-grey);
    color: var(--bg-white);
    border-radius: 10px;
    width: initial;
    cursor: default;
}

.active-part-aside:hover{
    color: var(--bg-white);
}

.profile-title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
}

.profile-subtitle{
    font-size: 17px;
    font-weight: bold;
}

.mf-title{
    margin-top: 15px;
    font-size: 25px;
}

.mf-subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.input-group-mf{
    margin-top: 16px;
    max-width: 390px;
}

.input-span{
    display: block;
    font-size: 16px;
}

.input-mf{
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.input-mf-select{
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 330px;
}

.input-mf-disable {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.input-mf-disable:hover{
    border: 2px solid #ccc;
}

.select-mf {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.select-mf:hover {
    cursor: pointer;
    border: 2px solid #ccc;
}

.select-mf:focus {
    box-shadow: 0 0 5px var(--air-force-blue);
    border: 2px solid var(--bg-white);
}

/*Feeling quiz*/
.vertical-feeling {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    margin-left: 10px;
    z-index: 2;
}

.horizontal-feeling {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    height: 500px;
}

#feeling-img {
    background-color: transparent;
    margin-left: 30px;
    height: 400px;
    z-index: 1;
    align-content: center;
}


.questions-container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    gap: 20px;
}

.radio-buttons {
    background-color: transparent;
    display: flex;
    gap: 40px;
}

.radio-button-container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.radio-button-btn {
    background-color: transparent;
    width: 20px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-button-label {
    background-color: transparent;
    display: inline-block;
    font-size: 13px;
}