aside{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    background-color: transparent;
    margin-top: 10px;
    gap: 10px;
}

#title-aside{
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}

#name-aside{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 5px;
}

.part-aside{
    font-size: 17px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    align-content: center;
    padding-left: 5px;
}

.active-part-aside{
    background-color: var(--dark-slate-grey);
    color: var(--bg-white);
    border-radius: 10px;
    width: initial;
    cursor: default;
}

.active-part-aside:hover{
    color: var(--bg-white);
}

.profile-title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
}

.profile-subtitle{
    font-size: 17px;
    font-weight: bold;
}

.mf-title{
    margin-top: 15px;
    font-size: 25px;
}

.mf-subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.input-group-mf{
    margin-top: 16px;
    max-width: 390px;
}

.input-span{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.input-mf{
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.input-group-mf-mini{
    margin-top: 16px;
    max-width: 200px;
}

.input-mf-mini{
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 170px;
}

.input-mf-select{
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 330px;
}

.input-mf-disable {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.input-mf-disable:hover{
    border: 2px solid #ccc;
}

.textarea-group-mf{
    margin-top: 20px;
    width: 300px;
}

.material-radiobox{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: column;
}

.textarea-mf{
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.textarea-span{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.select-mf {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
}

.select-mf:hover {
    cursor: pointer;
    border: 2px solid #ccc;
}

.select-mf:focus {
    box-shadow: 0 0 5px var(--air-force-blue);
    border: 2px solid var(--bg-white);
}

/*Feeling quiz*/
#feeling-img {
    background-color: transparent;
    margin-left: 30px;
    height: 550px;
    z-index: 1;
    align-content: center;
}


.questions-container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    gap: 20px;
}

.radio-buttons {
    background-color: transparent;
    display: flex;
    gap: 40px;
}

.radio-button-container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.radio-button-btn {
    background-color: transparent;
    width: 20px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-button-label {
    background-color: transparent;
    display: inline-block;
    font-size: 13px;
}

.button-cancel{
    margin: 2px 0 0 0;
    background-color: var(--engineering-orange);
    width: 200px;
    height: 40px;
    color: var(--white);
}

.statistics-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
}

.statistics-table th,
.statistics-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.statistics-table th {
    background-color: var(--air-force-blue);
}

.statistics-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.statistics-table tbody tr:hover {
    background-color: #e5f4fe;
}
