/*Notify*/
.notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
}

/*Alerts*/
.send-alert-box {
    top: 70px;
    margin-top: 10px;
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--dark-blue-opacity);
    color: var(--bg-white);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.alert-box {
    margin-top: 10px;
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--engineering-orange-opacity);
    color: var(--bg-white);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 800px;
}

.warning-box {
    margin-top: 10px;
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--sunset);
    color: var(--black);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: max-content;
}

.cancel-alert-button, .cancel-warning-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.cancel-alert-button {
    color: var(--bg-white)
}

.cancel-warning-button{
    color: var(--black);
    background-color: transparent;
}

.alert-text {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
}

/*Loading*/
.load-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 0.625em;
    transform: translate(-50%, -50%);
}

.load-container span {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}

.load-container span::before {
    content: "";
    display: block;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    background-color: inherit;
    animation: ripple 1.8s ease-out infinite;
    animation-delay: inherit;
    z-index: -1;
}

.load-container span:nth-of-type(1) {
    background-color: var(--dark-slate-grey);
}

.load-container span:nth-of-type(2) {
    background-color: var(--sunset);
    animation-delay: 0.2s;
}

.load-container span:nth-of-type(3) {
    background-color: var(--robin-egg-blue);
    animation-delay: 0.4s;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}

/*Not found*/
.date-not-found {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.retry-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.retry-button:hover {
    background-color: #0056b3;
}