:root {
    --white: #FEF9F2;
    --black: #1a1a1a;
    --bg-white: #fafafa;
    --gunmetal: #15252D;
    --charcoal: #294A5A;
    --dark-slate-grey: #254F56;
    --air-force-blue: #5193B3;
    --robin-egg-blue: #64C4C3;
    --sunset: #F8D49A;
    --engineering-orange: #B81313;
    --border-color: #a1a1a1;
    --gray: #707070;
}